.forms{
    display: flex;
    align-items:start ;
}

.forms input{
    margin-left: 20px;

    background-color: #fff;
    border: 2px solid hsl(216, 70%, 42%);
    border-radius: 4px;
}

.forms input:focus{
    border: 2px solid hsl(216, 82%, 24%);
    outline: none;
}

.forms input:hover{

    border: 2px solid hsl(216, 53%, 51%);
}

.forms button{
    margin-left: 20px;
    background-color: #fff;
    border: 2px solid hsl(216, 70%, 42%);
    border-radius: 4px;
}

.forms button:hover{
    background-color: #eaeaea;
    border: 2px solid hsl(216, 53%, 51%);
}